<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.madose">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logorecap"
        android:label="RecapApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Authentification"
            android:label="RecapApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Acceuil"
            android:label="Accueil"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Fournisseur"
            android:label="Fournisseur">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Besoin"
            android:label="Besoins">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Categorie"
            android:label="Catégories">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Listecategorie"
            android:label="Liste de Catégories">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Utilisateur"
            android:label="Employé">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Departement"
            android:label="Departement">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Affichage"
            android:label="Affichage" />
        <activity
            android:name=".Add"
            android:label="Approvisionnement" />
        <activity
            android:name=".Demande"
            android:label="Demande" />
        <activity
            android:name=".BringOut"
            android:label="Sortie" />
        <activity android:name=".Variation" />
        <activity android:name=".CoutTotalBesoin" />
        <activity android:name=".Listedepartement" />
        <activity
            android:name=".Affich"
            android:label="Affich" />
        <activity android:name=".Display" />
        <activity android:name=".ListeUtilisateur" />
        <activity android:name=".ListeFournisseur" />
        <activity android:name=".ListeBesoin" />
        <activity android:name=".ListeDate" />
        <activity android:name=".MyApplication" />
        <activity android:name=".Listes.ListeRupture" />
        <activity android:name=".Listes.StockSup" />
        <activity android:name=".Listes.StockEgale" />
        <activity android:name=".PageDeChargement" />
        <activity android:name=".Listes.FournisseurListe"></activity>
    </application>

</manifest>